# Existing AnalogExif schema; this is a custom XMP property, not an EXIF tag.
%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        AnalogExif => {
            SubDirectory => { TagTable => 'Image::ExifTool::UserDefined::AnalogExif' },
        },
    },
);
%Image::ExifTool::UserDefined::AnalogExif = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-AnalogExif', 2 => 'Image' },
    NAMESPACE => { AnalogExif => 'http://analogexif.sourceforge.net/ns' },
    WRITABLE => 'string',
    Film => { },
);
1;
